<template>
  <FormLayout>
    <router-link to="/services" slot="page-left-option">
      <q-btn
      flat
      round
      dense
      icon="arrow_back"
      color="white"/>
    </router-link>
    <div slot="page-title">
      Movimientos del cliente
    </div>
    <div slot="page-content"
      class="q-ma-lg">
      <q-select
        class="input"
        v-model="client"
        placeholder="Escoge una opcion.."
        @blur="$v.client.$touch"
        float-label="Cliente"
        inverted-light
        :options="selectOptions"
        @input="getMovements"
      />
      <div class="error-message" v-if="$v.client.$error">
        Debe seleccionar un cliente
      </div>
      <q-item-separator/>
      <div v-if="tableData === null" class="fixed-center text-center">
        <p>
          <img
            src="~assets/sad.svg"
            style="width:30vw;max-width:150px;"
          >
        </p>
        <p class="text-faded">No hay cliente seleccionado...</p>
      </div>
      <div v-else-if="tableData.length === 0" class="fixed-center text-center">
        <p>
          <img
            src="statics/images/caja.svg"
            style="width:30vw;max-width:150px;"
          >
        </p>
        <p class="text-faded">Este cliente no tiene movimientos...</p>
      </div>
      <q-table
        v-else
        title="Documentos por cobrar"
        class="q-mt-lg"
        :data="tableData"
        :columns="columns"
        row-key="numero"
      />
    </div>
  </FormLayout>
</template>

<style lang="stylus">
@import '~variables'

  .q-table-top {
    height: 48px;
    background: $primary;
  }

  .q-table-control {
    margin: auto;
  }

  .q-table-title {
    font-size: 17px;
    color: white;
    font-weight: 700;
  }
</style>


<script>
import axios from 'axios';
import { validationMixin } from 'vuelidate';
import { required, minLength } from 'vuelidate/lib/validators';
import FormLayout from '../layouts/FormLayout.vue';
import { API_URL } from '../commons/constants';

export default {
  name: 'Documents',
  mounted() {
    axios.get(`${API_URL}/get-terceros`)
      .then((response) => {
        const almacenamiento = [];
        response.data.forEach((element) => {
          if (element.OCODIGO !== '00') {
            almacenamiento.push(element);
          }
        });
        this.selectOptions = almacenamiento
          .map(obj => ({
            label: obj.ONOMBRE,
            value: obj.OCODIGO,
          }));
      }).catch((error) => {
        console.log(error);
      });
  },
  components: {
    FormLayout,
  },
  mixins: [
    validationMixin,
  ],
  data() {
    return {
      client: {},
      selectOptions: [],
      columns: [
        {
          name: 'ONUMERO',
          required: true,
          label: 'ID',
          field: 'ONUMERO',
          align: 'left',
          sortable: true,
          style: 'height:40px; font-size: 14px; font-weight:700',
        },
        {
          name: 'OVALOR',
          required: true,
          label: 'VALOR',
          field: 'OVALOR',
          align: 'left',
          sortable: true,
          style: 'font-size: 14px',
        },
        {
          name: 'ONETO',
          required: true,
          label: 'NETO',
          field: 'ONETO',
          align: 'left',
          sortable: true,
          style: 'font-size: 14px',
        },
        {
          name: 'OFECHA',
          required: true,
          label: 'CREACION',
          field: 'OFECHA',
          align: 'left',
          sortable: true,
          style: 'font-size: 14px;',
        },
        {
          name: 'OFECVENCE',
          required: true,
          label: 'VENCIMIENTO',
          field: 'OFECVENCE',
          align: 'left',
          sortable: true,
          style: 'font-size: 14px;',
        },
      ],
      tableData: null,
    };
  },
  validations: {
    client: {
      required,
      minLength: minLength(1),
    },
  },
  methods: {
    getMovements() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        axios.get(`${API_URL}/get-documents/${this.client}`)
          .then((response) => {
            this.tableData = response.data.Documentos;
          }).catch(() => {
            this.$q.notify({
              message: 'Lo sentimos, se ha presentado un error en mostrar los documentos.',
              timeout: 4000,
              type: 'negative',
              color: 'negative',
              textColor: 'white',
              icon: 'sentiment_very_dissatisfied',
              position: 'top',
            });
          });
      }
    },
  },
};
</script>
