<template>
  <div>
    <div
      class="container">
      <img class="fixed-center" src="statics/icons/logo-home.png" alt="gerenzplus">
      <p class=" title fixed-center">GERENZPLUS</p>
      <q-spinner-dots class="spinner fixed-center" color="white" :size="60" />
    </div>
  </div>
</template>

<style lang="stylus">
@import '~variables'

.container {
  width: 100%;
  height: 100vh;
  background-color: $primary;
}

.title {
  margin-top: 60px;
  font-size: 26px;
  color: $white;
}

.spinner {
  margin-top: 150px;
}

img {
  width 200px;
}
</style>

<script>
export default {
  name: 'Home',
  mounted() {
    setTimeout(() => {
      this.$router.replace('services');
    }, 3000);
  },
};
</script>
