<template>
  <FormLayout>
    <router-link to="/services" slot="page-left-option">
      <q-btn
      flat
      round
      dense
      icon="arrow_back"
      color="white"/>
    </router-link>
    <div slot="page-title">
      Crear pedido de venta
    </div>
    <div slot="page-content"
      class="q-mt-sm q-mb-md q-mx-lg">
      <h5 class="subtitle">Datos del pedido</h5>
      <q-item-separator class="separator"/>
      <div class="row">
        <q-datetime
          v-model="order.oFecha"
          inverted-light
          class="col-7 input q-mt-sm"
          :first-day-of-week="1"
          :min="order.initial"
          :max="order.finish"
          format="DD MMMM YYYY"
          stack-label="Fecha de creacion" />
          <div class="col-1"/>
        <q-input
          class="col-4 input q-mt-sm"
          v-model="order.oPeriodo"
          readonly
          inverted-light
          float-label="Periodo"/>
      </div>
      <q-select
        class="input input q-mt-md"
        v-model="order.oCodClient"
        placeholder="Escoge una opcion.."
        @blur="$v.order.oCodClient.$touch"
        float-label="Cliente"
        inverted-light
        :options="clients"
      />
      <div class="error-message" v-if="$v.order.oCodClient.$error">
        Debe seleccionar un cliente
      </div>
      <q-select
        class="input input q-mt-md"
        v-model="order.oCodFormaPago"
        placeholder="Escoge una opcion.."
        @blur="$v.order.oCodFormaPago.$touch"
        float-label="Forma de pago"
        inverted-light
        :options="payments"
      />
      <div class="error-message" v-if="$v.order.oCodFormaPago.$error">
        Debe seleccionar una forma de pago
      </div>
      <q-input
        v-if="order.oCodFormaPago === 'CR'"
        v-model="order.oPlazoDias"
        type="number"
        min="0"
        class="input q-mt-md"
        inverted-light
        float-label="Dias"/>
      <q-select
        v-if="order.oCodFormaPago === 'CO'"
        class="input input q-mt-md"
        v-model="order.oCodBanco"
        placeholder="Escoge una opcion.."
        float-label="Banco"
        inverted-light
        :options="banks"
      />
      <h5 class="subtitle">Datos del producto</h5>
      <q-item-separator class="separator"/>
      <q-select
        class="input input q-mt-md"
        v-model="product.oCodMat"
        @blur="$v.product.oCodMat.$touch"
        placeholder="Escoge una opcion.."
        float-label="Producto"
        separator
        inverted-light
        :options="products"
      />
      <div class="error-message" v-if="$v.product.oCodMat.$error">
        Debe seleccionar un producto
      </div>
      <q-input
        v-model="product.oCantidad"
        @blur="$v.product.oCantidad.$touch"
        type="number"
        min="1"
        class="input q-mt-md"
        inverted-light
        float-label="Cantidad"/>
      <div class="error-message" v-if="$v.product.oCantidad.$error">
        La cantidad es requerida
      </div>
      <q-select
        class="input input q-mt-md"
        v-model="product.oTipoUnidad"
        @blur="$v.product.oTipoUnidad.$touch"
        placeholder="Escoge una opcion.."
        float-label="Tipo de unidad"
        inverted-light
        :options="unitTypes"
      />
      <div class="error-message" v-if="$v.product.oTipoUnidad.$error">
        Seleccione el tipo de unidad
      </div>
      <q-input
        v-model="product.oValor"
        @blur="$v.product.oValor.$touch"
        type="number"
        min="0"
        class="input q-mt-md"
        inverted-light
        prefix="$"
        float-label="Valor"/>
      <div class="error-message" v-if="$v.product.oValor.$error">
        El valor/precio es requerido
      </div>
      <div class="text-center">
        <q-btn class="q-mt-lg t-button" @click="registerOrder">Crear</q-btn>
      </div>
    </div>
  </FormLayout>
</template>

<style lang="stylus">
  .separator {
    margin-top: 0px;
  }
</style>


<script>
import axios from 'axios';
import { validationMixin } from 'vuelidate';
import { required, minLength } from 'vuelidate/lib/validators';
import products from '../data/Products';
import payments from '../data/Payments';
import banks from '../data/Banks';
import unitTypes from '../data/UnitTypes';
import FormLayout from '../layouts/FormLayout.vue';
import { getFormat } from '../mixins/FormatDate';
import { API_URL } from '../commons/constants';

export default {
  name: 'OrderSell',
  mounted() {
    axios.get(`${API_URL}/get-terceros`)
      .then((response) => {
        const almacenamiento = [];
        response.data.forEach((element) => {
          if (element.OCODIGO !== '00') {
            almacenamiento.push(element);
          }
        });
        this.clients = almacenamiento
          .map(obj => ({
            label: obj.ONOMBRE,
            value: obj.OCODIGO,
          }));
      }).catch((error) => {
        console.log(error);
      });
  },
  components: {
    FormLayout,
  },
  mixins: [
    validationMixin,
  ],
  data() {
    return {
      order: {
        oFecha: new Date('2019-03-01T00:00'),
        initial: new Date('2019-03-01T00:00'),
        finish: new Date('2019-03-31T00:00'),
        oPeriodo: '03',
        oCodClient: {},
        oCodFormaPago: {},
        oPlazoDias: '15',
        oCodBanco: {},
      },
      product: {
        oCodMat: {},
        oCantidad: 1,
        oTipoUnidad: {},
        oValor: 0,
      },
      clients: [],
      products,
      payments,
      banks,
      unitTypes,
    };
  },
  validations: {
    order: {
      oCodClient: {
        required,
        minLength: minLength(1),
      },
      oCodFormaPago: {
        required,
        minLength: minLength(1),
      },
    },
    product: {
      oCodMat: {
        required,
        minLength: minLength(1),
      },
      oCantidad: {
        required,
        minLength: minLength(1),
      },
      oTipoUnidad: {
        required,
        minLength: minLength(1),
      },
      oValor: {
        required,
        minLength: minLength(1),
      },
    },
  },
  methods: {
    test() {
      const date = this.order.oFecha;
      console.log(getFormat(date));
      console.log(this.order.oCodClient);
    },
    registerOrder() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        axios.post(`${API_URL}/register-order-sale`,
          {
            OCODCOMP: '001(PV)',
            OCODPREFIJO: '00',
            ONUMERO: '000',
            OFECHA: getFormat(this.order.oFecha),
            OPERIODO: '03',
            OCODCLIENTE: this.order.oCodClient,
            OCODFORMAPAGO: this.order.oCodFormaPago,
            OCODBANCO: this.order.oCodBanco,
            OPLAZODIAS: this.order.oPlazoDias,
            OITEMSPEDIDO: [
              {
                OCODBODEGA: '00',
                OCODMAT: this.product.oCodMat,
                OTIPOUNIDAD: this.product.oTipoUnidad,
                OCANTIDAD: this.product.oCantidad,
                OVALOR: this.product.oValor,
              },
            ],
          }).then(() => {
          this.$q.notify({
            message: 'El pedido ha sido creado correctamente.',
            timeout: 4000,
            type: 'positive',
            color: 'positive',
            textColor: 'white',
            icon: 'sentiment_very_satisfied',
            position: 'top',
          });
        }).catch(() => {
          this.$q.notify({
            message: 'Lo sentimos, se ha presentado un error en la creacion del pedido.',
            timeout: 4000,
            type: 'negative',
            color: 'negative',
            textColor: 'white',
            icon: 'sentiment_very_dissatisfied',
            position: 'top',
          });
        });
      }
    },
  },
};
</script>
