<template>
  <FormLayout>
    <router-link to="/services" slot="page-left-option">
      <q-btn
      flat
      round
      dense
      icon="arrow_back"
      color="white"/>
    </router-link>
    <div slot="page-title">
      Crear recibo de caja
    </div>
    <div slot="page-content"
      class="q-mt-sm q-mb-md q-mx-lg">
      <h5 class="subtitle">Datos del recibo</h5>
      <q-item-separator class="separator"/>
      <div class="row">
        <q-datetime
          v-model="receipt.oFecha"
          inverted-light
          class="col-7 input q-mt-sm"
          :first-day-of-week="1"
          :min="receipt.initial"
          :max="receipt.finish"
          format="DD MMMM YYYY"
          stack-label="Fecha de creacion" />
          <div class="col-1"/>
        <q-input
          class="col-4 input q-mt-sm"
          v-model="receipt.oPeriodo"
          readonly
          inverted-light
          float-label="Periodo"/>
      </div>
      <q-select
        class="input q-mt-md"
        v-model="receipt.oCodClient"
        @blur="$v.receipt.oCodClient.$touch"
        float-label="Cliente"
        placeholder="Selecciona una opcion.."
        inverted-light
        :options="clients"
        @input="actionsClients"
      />
      <div class="error-message" v-if="$v.receipt.oCodClient.$error">
        Debe seleccionar un cliente
      </div>
      <q-select
        class="input q-mt-md"
        v-model="receipt.oCodCollect"
        @blur="$v.receipt.oCodCollect.$touch"
        float-label="Cobrador"
        placeholder="Selecciona una opcion.."
        inverted-light
        :options="collects"
      />
      <div class="error-message" v-if="$v.receipt.oCodCollect.$error">
        Debe seleccionar un cobrador
      </div>
      <h5 class="subtitle">Items de recibo de caja</h5>
      <q-item-separator class="separator"/>
      <q-select
        :readonly="documentsEmpty"
        :disabled="documentsEmpty"
        class="input q-mt-md"
        v-model="oItemsRecibo.oNumDocum"
        @blur="$v.oItemsRecibo.oNumDocum.$touch"
        float-label="Numero de documento"
        placeholder="Selecciona una opcion.."
        inverted-light
        :options="documents"
      />
      <div class="error-message" v-if="$v.oItemsRecibo.oNumDocum.$error">
        Debe seleccionar un numero de documento
      </div>
      <q-select
        class="input q-mt-md"
        v-model="oItemsRecibo.oCodConcepto"
        @blur="$v.oItemsRecibo.oCodConcepto.$touch"
        float-label="Concepto"
        placeholder="Selecciona una opcion.."
        inverted-light
        :options="concepts"
      />
      <div class="error-message" v-if="$v.oItemsRecibo.oCodConcepto.$error">
        Debe seleccionar un tipo de concepto
      </div>
      <q-input
        v-model="oItemsRecibo.oValor"
        @blur="$v.oItemsRecibo.oValor.$touch"
        type="number"
        min="0"
        class="input q-mt-md"
        inverted-light
        prefix="$"
        float-label="Valor"/>
      <div class="error-message" v-if="$v.oItemsRecibo.oValor.$error">
        El valor/precio es requerido
      </div>
      <h5 class="subtitle">Forma de pago del recibo de caja</h5>
      <q-item-separator class="separator"/>
      <q-select
        class="input q-mt-md"
        v-model="oItemsReciboFP.oFormaPago"
        @blur="$v.oItemsReciboFP.oFormaPago.$touch"
        float-label="Forma de pago"
        placeholder="Selecciona una opcion.."
        inverted-light
        :options="wayToPay"
      />
      <div class="error-message" v-if="$v.oItemsReciboFP.oFormaPago.$error">
        Debe seleccionar una forma de pago
      </div>
      <q-select
        class="input q-mt-md"
        v-model="oItemsReciboFP.oCodBanco"
        @blur="$v.oItemsReciboFP.oCodBanco.$touch"
        float-label="Banco"
        placeholder="Selecciona una opcion.."
        inverted-light
        :options="banks"
      />
      <div class="error-message" v-if="$v.oItemsReciboFP.oCodBanco.$error">
        Debe seleccionar un banco
      </div>
      <q-input
        v-model="oItemsReciboFP.oValor"
        @blur="$v.oItemsReciboFP.oValor.$touch"
        type="number"
        min="0"
        class="input q-mt-md"
        inverted-light
        prefix="$"
        float-label="Valor"/>
      <div class="error-message" v-if="$v.oItemsReciboFP.oValor.$error">
        El valor/precio es requerido
      </div>
      <div class="text-center">
        <q-btn class="q-mt-lg t-button" @click="registerReceipt">Crear</q-btn>
      </div>
    </div>
  </FormLayout>
</template>

<script>
import axios from 'axios';
import { validationMixin } from 'vuelidate';
import { required, minLength } from 'vuelidate/lib/validators';
import FormLayout from '../layouts/FormLayout.vue';
import concepts from '../data/Concepts';
import wayToPay from '../data/WayToPay';
import banks from '../data/Banks';
import { getFormat } from '../mixins/FormatDate';
import { API_URL } from '../commons/constants';

export default {
  name: 'ReceiptMaster',
  mounted() {
    axios.get(`${API_URL}/get-terceros`)
      .then((response) => {
        const almacenamiento = [];
        response.data.forEach((element) => {
          if (element.OCODIGO !== '00') {
            almacenamiento.push(element);
          }
        });
        this.clients = almacenamiento
          .map(obj => ({
            label: obj.ONOMBRE,
            value: obj.OCODIGO,
          }));
        this.collects = this.clients;
      }).catch((error) => {
        console.log(error);
      });
  },
  components: {
    FormLayout,
  },
  mixins: [
    validationMixin,
  ],
  data() {
    return {
      receipt: {
        oFecha: new Date('2019-03-01T00:00'),
        initial: new Date('2019-03-01T00:00'),
        finish: new Date('2019-03-31T00:00'),
        oCodClient: {},
        oCodCollect: {},
        oPeriodo: '03',
      },
      oItemsRecibo: {
        oNumDocum: {},
        oCodConcepto: {},
        oValor: 0,
      },
      oItemsReciboFP: {
        oFormaPago: {},
        oCodBanco: {},
        oValor: 0,
      },
      clients: [],
      collects: [],
      documents: [],
      documentsEmpty: true,
      concepts,
      wayToPay,
      banks,
    };
  },
  validations: {
    receipt: {
      oCodClient: {
        required,
        minLength: minLength(1),
      },
      oCodCollect: {
        required,
        minLength: minLength(1),
      },
    },
    oItemsRecibo: {
      oNumDocum: {
        required,
        minLength: minLength(1),
      },
      oCodConcepto: {
        required,
        minLength: minLength(1),
      },
      oValor: {
        required,
        minLength: minLength(1),
      },
    },
    oItemsReciboFP: {
      oFormaPago: {
        required,
        minLength: minLength(1),
      },
      oCodBanco: {
        required,
        minLength: minLength(1),
      },
      oValor: {
        required,
        minLength: minLength(1),
      },
    },
  },
  methods: {
    actionsClients() {
      this.getMovements();
      this.loadCollects();
    },
    getMovements() {
      if (this.receipt.oCodClient) {
        axios.get(`${API_URL}/get-documents/${this.receipt.oCodClient}`)
          .then((response) => {
            this.oItemsRecibo.oNumDocum = {};
            if (response.data.Documentos.length === 0) {
              this.documentsEmpty = true;
            } else {
              this.documentsEmpty = false;
              this.documents = response.data.Documentos
                .map(obj => ({
                  label: `${obj.OCODCOMP}-${obj.OCODPREFIJO}-${obj.ONUMERO}`,
                  value: `${obj.OCODCOMP}${obj.OCODPREFIJO}${obj.ONUMERO}`,
                }));
            }
          }).catch(() => {
            this.$q.notify({
              message: 'Lo sentimos, se ha presentado un error en cargar los documentos.',
              timeout: 4000,
              type: 'negative',
              color: 'negative',
              textColor: 'white',
              icon: 'sentiment_very_dissatisfied',
              position: 'top',
            });
          });
      }
    },
    loadCollects() {
      if (this.receipt.oCodCollect === this.receipt.oCodClient) {
        this.receipt.oCodCollect = {};
      }
      axios.get(`${API_URL}/get-terceros`)
        .then((response) => {
          const almacenamiento = [];
          response.data.forEach((element) => {
            if (element.OCODIGO !== '00' && element.OCODIGO !== this.receipt.oCodClient) {
              almacenamiento.push(element);
            }
          });
          this.collects = almacenamiento
            .map(obj => ({
              label: obj.ONOMBRE,
              value: obj.OCODIGO,
            }));
        }).catch((error) => {
          console.log(error);
        });
    },
    registerReceipt() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        axios.post(`${API_URL}/register-receipt-master`, {
          OCODCOMP: '001(RC)', // Igual
          OCODPREFIJO: '00', // Sucesivo
          OFECHA: getFormat(this.receipt.oFecha),
          OPERIODO: this.receipt.oPeriodo,
          OCODCLIENTE: this.receipt.oCodClient,
          OCODCOBRADOR: this.receipt.oCodCollect,
          OITEMSRECIBO: [
            {
              ONUMDOCUM: this.oItemsRecibo.oNumDocum,
              OITEM: '001', // Igual
              OCODCONCEPTO: this.oItemsRecibo.oCodConcepto,
              OCODTERCERO: this.receipt.oCodClient,
              OVALOR: this.oItemsRecibo.oValor,
            },
          ],
          OITEMSRECIBOFP: [
            {
              OFORMAPAGO: this.oItemsReciboFP.oFormaPago,
              OCODBANCO: this.oItemsReciboFP.oCodBanco,
              OVALOR: this.oItemsReciboFP.oValor,
              OCODTERCERO: this.receipt.oCodClient,
            },
          ],
        }).then(() => {
          this.$q.notify({
            message: 'El recibo ha sido creado correctamente.',
            timeout: 4000,
            type: 'positive',
            color: 'positive',
            textColor: 'white',
            icon: 'sentiment_very_satisfied',
            position: 'top',
          });
        }).catch(() => {
          this.$q.notify({
            message: 'Lo sentimos, se ha presentado un error en la creacion del recibo.',
            timeout: 4000,
            type: 'negative',
            color: 'negative',
            textColor: 'white',
            icon: 'sentiment_very_dissatisfied',
            position: 'top',
          });
        });
      }
    },
  },
};
</script>
