<template>
  <div>
    <img class="fixed-top-right header-icon" src="statics/icons/gzp.png" alt="">
    <q-carousel
      v-model="slide"
      color="white"
      quick-nav
      quick-nav-icon="keyboard_arrow_right"
      infinite
      height="100vh"
    >
      <q-carousel-slide class="flex flex-center">
        <div class="text-center">
          <div class="q-display-3">
            <img class="img-sliders" src="statics/images/customers.png" alt="">
          </div>
          <p>¡Consulta los documentos por cobrar de un cliente de esta sucursal...</p>
          <q-btn @click="getCustomers" class="t-button q-my-md">Movimientos de cliente</q-btn>
        </div>
      </q-carousel-slide>
      <q-carousel-slide class="flex flex-center">
        <div class="text-center">
          <div class="q-display-3">
            <img class="img-sliders" src="statics/images/order-sell.png" alt="">
          </div>
          <p>Genera pedidos de venta rapidamente...</p>
          <q-btn @click="createReceiptSell" class="t-button q-my-md">Crear pedido de venta</q-btn>
        </div>
      </q-carousel-slide>
      <q-carousel-slide class="flex flex-center">
        <div class="text-center">
          <div class="q-display-3">
            <img class="img-sliders" src="statics/images/cash-receipt.png" alt="">
          </div>
          <p>Y crea recibos de caja al instante!</p>
          <q-btn @click="createReceiptMaster" class="t-button q-my-md">Crear recibo de caja</q-btn>
        </div>
      </q-carousel-slide>
    </q-carousel>
  </div>
</template>

<style lang="stylus">
@import '~variables'

.img-sliders {
  width 300px;
}

</style>


<script>
import { easing } from 'quasar';

export default {
  name: 'Services',
  data() {
    return {
      slide: 0,
      overshoot: easing.overshoot,
    };
  },
  methods: {
    getCustomers() {
      this.$router.replace('documents');
    },
    createReceiptSell() {
      this.$router.replace('order-sell');
    },
    createReceiptMaster() {
      this.$router.replace('receipt-master');
    },
  },
};
</script>
