// app global css
@import './themes/common.variables';
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$light = 300
$regular = 400
$medium = 500
$semibold = 600
$bold = 700

$borderRadius = 12px
$boxShadow3 = 0px 8px 12px 0px rgba(194,198,199,0.3)
$boxShadow7 = 0px 8px 12px 0px rgba(194,198,199,0.7)
$normalFontSize = 14px
$titleSize = 16px
$whiteSmoke = #F8F8F8

body {
  font-family: 'Poppins', sans-serif;
  background-color: $gray1;
}

.t-button {
  background-color: $primary;
  color: $white;
  font-weight: 500;
  height: 45px;
  width: 250px;
  border-radius: 10px;
  box-shadow: none;
}

.header-icon {
  width: 95px;
  height: 45px;
  margin: 15px 15px 0 0 ;
}

.bg-section {
  background-color: $gray1;
}

.input.q-input,
.input.q-datetime-input,
.input.q-select {
    height: 60px;
}

.input.q-select,
.input.q-datetime-input {
    padding: 0px 8px 0px;
}

.input.q-input,
.input.q-select,
.input.q-datetime-input{
    box-shadow: none;
    background: $inputFormBG!important;
    border: 0px solid $borderInput;
    border-radius: $borderRadius;
}

.input.q-input .q-input-target,
.input.q-select .q-input-target,
.input.q-datetime-input .q-input-target {
    color: $colorInput;
    padding: 0 5px;
    font-size: $normalFontSize;
    font-weight: $normal;
}

.input.q-select .q-input-target,
.input.q-datetime-input .q-input-target {
    padding: 0px 5px 0px;
}

.input.q-input .q-if-label,
.input.q-select .q-if-label,
.input.q-datetime-input .q-if-label {
    top: 0px;
    left: 5px;
}

.input.q-input .q-if-label-inner,
.input.q-select .q-if-label-inner,
.input.q-datetime-input .q-if-label-inner{
    font-size: 11px;
    color: $tertiary;
    font-weight: $semibold;
}

.error-message {
  color: $negative;
  font-size: 11px;
  padding-top: 8px;
  margin-left: 10px;
}

.subtitle {
  margin: 0;
  color: $primary;
  font-weight: 600;
}

// Para que no se sobresalga el texto de los selects
.q-select .row,
.q-select .column,
.q-select .flex{
  flex-wrap: nowrap;
}