<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar
        color="primary"
        text-color="tertiary"
      >
        <slot name="page-left-option"></slot>
        <q-toolbar-title>
          <slot name="page-title"></slot>
        </q-toolbar-title>
        <slot name="page-right-option"></slot>
      </q-toolbar>
    </q-layout-header>
    <q-page-container>
      <slot name="page-content"></slot>
    </q-page-container>
  </q-layout>
</template>

<style lang="stylus">
  .q-toolbar {
    padding-top: 40px;
    height: 80px;
  }

  .q-toolbar-title {
    color: white;
  }
</style>


<script>
export default {
  name: 'FormLayout',
};
</script>
